<!DOCTYPE html>
<html>
<head>
  <title>
    Robo Staffing Agency
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <p><a href="/available">Currently Looking For Work</a></p>
  <p><a href="/">Currently Employed</a></p>

  <form method="post" action="/">
  {{#inhuman}}
  {{#job}}
    <div class="profile">
    <img src="{{avatar}}">
    <p class="robo_name">{{name}}</p>
    <p class="robo_jobtitle">{{job}}</p>
    <p class="robo_company">{{company}}</p>
    </div>
    {{/job}}
    {{^job}}
      {{/job}}
  {{/inhuman}}
</form>

</body>
</html>
